* {
    padding: 0;
    margin: 0;
}

body {
    font: 12px arial;
}

.text_span {
    border: 1px solid #b6b6b6;
    background: #fff;
    display: inline-block;
    width: 539px;
    height: 34px;
    text-align: left;
    position: relative;
    border-right-width: 0px;
    margin-right: 0px;
    letter-spacing: -0.5em;
}

img {
    width: 270px;
    height: 129px;
}

input {
    border: 0;
    padding: 0;
}

input[type="submit"] {
    background: #3385ff;
    color: #fff;
    height: 36px;
    width: 100px;
    letter-spacing: 1px;
    font-size: 15px;
}

input[type="text"] {
    height: 22px;
    width: 500px;
    padding: 0;
    margin: 6px 0 0 7px;
    outline: 0;
}

.camera {
    position: absolute;
    right: 11px;
    top: 30%;
    height: 16px;
    width: 18px;
    background: #fff url(../images/soutu_icons_sample_6a1e1619.png) no-repeat -229px 0;
}

.button_span {
    margin: 0;
    padding: 0;
}

form {
    margin-top: 22px;
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    margin-top: 20px;
    justify-content: flex-end;
}

li {
    list-style-type: none;
}

.nav a {
    margin-left: 20px;
    font-weight: bold;
    font-size: 13px;
    color: #666;
}

.nav ul li {
    float: left;
}

.nav ul li ul {
    float: none;
}

.nav ul li ul li a {
    margin: 0;
    padding: 0;
}

.nav ul li ul li a:link {
    text-decoration: none;
}

.nav ul li ul li {
    padding-top: 5px;
    text-align: center;
    width: 80px;
    padding-bottom: 5px;
}

.setting {
    display: block;
    position: relative;
}

.setting_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    top:15px;
    position: absolute;
    /*display:none;*/
}

.setting_menu_content {
    border: 1px solid;
    left: -5px;
}

.nav ul li:hover .setting_menu {
    /*display: block;*/
}

.nav ul li div ul li:hover {
    background-color: blue;
}

.nav ul li div ul li:hover a {
    color: white;
}

.setting_menu_row {
   bottom: -2px;
}

.setting_menu_row img{
    width: 8px;
    height: 8px;
}

.nav a:visited {
    color: #666;
}

.nav a:hover {
    color: blue;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 270px;
    height: 129px;
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #999;
    position: absolute;
    bottom: 23px;
    width: 100vw;
}

.qrcode-img {
    width: 60px;
    height: 60px;
    background: url(../images/zbios_62c636fe.png) 0 0 no-repeat;
}

.qrcode-img2 {
    width: 60px;
    height: 60px;
    background: url(../images/nuomi_510f7472.png) 0 0 no-repeat;
}

.qrcode-text {
    line-height: 23px;
}

.about span {
    margin-left: 62px;
}

.right a:link {
    color: #999;
}

.right {
    display: flex;
    flex-direction: column;
    margin-left: 62px;
}

.help {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icrlogo {
    width: 14px;
    height: 17px;
    display: inline-block;
    background: url(../images/icons_0e814c16.png) no-repeat;
    overflow: hidden;
    background-position: -600px -96px;
}

.c-icon-jgwablo {
    width: 14px;
    height: 17px;
    display: inline-block;
    background: url(../images/icons_0e814c16.png) no-repeat;
    overflow: hidden;
    background-position: -623px -96px;
    position: relative;
    top: 3px;
    margin-right: 6px;
}

.qrcode-text b {
    color: #666;
    font-weight: bold;
}
